---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";
@import "typography";
@import "layout";

:root {
    color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  fill: inherit;
}

