---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Global
@import "colors";
@import "typography";
@import "layout";

// Components
@import "featured";
@import "byline";

:root {
    color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
}

svg {
  fill: inherit;
}

