---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Global
@import "colors";
@import "typography";
@import "layout";

// Components
@import "featured";
@import "byline";
@import "figures";

:root {
    color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
  overflow-x: hidden;
}

svg {
  fill: inherit;
}

.error {
  max-width: 22rem;
  margin: 8em auto;
  text-align: center;

  p {
    font-family: var(--ui-font);
  }
}

