:root {
  --page-width: 60rem;
  --content-width: 40rem;
}

body > section {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 1rem;
}

body > header {
  background-color: var(--blueberry-300);
  color: var(--silver-100);
  fill: var(--silver-100);

  a {
    color: inherit;
    display: block;
    margin: 0 auto;
    max-width: var(--page-width);
    padding: 0 1rem;

    svg {
      height: 64px;
      margin: 3rem 0 2rem;
      max-width: 75%;
      width: auto;
    }
  }
}

article {
  margin: 0 auto;
  max-width: var(--content-width);
}

hr {
  border: none;
  margin: 3em auto;
  max-width: 50%;

  &::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
  }
}

