:root {
  --page-width: 60rem;
  --content-width: 40rem;
}

body > section {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 1rem;
}

body > header {
  background-color: var(--header-color);
  color: var(--silver-100);
  fill: var(--silver-100);

  > a {
    color: white;
    display: block;
    filter: drop-shadow(0px 0px 0px white); // Increases legibility
    font-family: var(--heading-font);
    font-size: 3.2rem;
    font-weight: 100;
    margin: 0 auto;
    max-width: var(--page-width);
    opacity: 1;
    padding: 1.5rem 1rem 0.5rem;
    text-decoration: none;

    .logotype {
      font-size: 0;

      svg {
        height: auto;
        margin-right: 1rem;
        margin-top: 0.75rem;
        vertical-align: top;
        width: 16rem;
      }
    }
  }

  nav {
    font-size: 0;
    margin: 0 auto;
    max-width: var(--page-width);
    padding: 0 0.5rem;

    a {
      color: var(--bg-color);
      display: inline-block;
      font-family: var(--ui-font);
      font-size: 0.75rem;
      padding: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

article {
  margin-bottom: 8rem;

  p,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  table {
    font-family: var(--ui-font);
    margin: 2em auto;
    max-width: 100%;

    th,
    td {
      padding: 0 0.5rem;
    }
  }
}

hr {
  border: none;
  margin: 3em auto;
  max-width: 50%;

  &::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
  }
}

.license {
  display: block;
  font-family: var(--ui-font);
  font-size: 0.75rem;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }
}

.up-next {
  margin: 8rem auto 0;
}

