:root {
  --ui-font: "Open Sans", "Noto Sans", "Droid Sans", sans-serif;
  --copy-font: "Droid Serif", serif;
  --heading-font: Raleway, sans-serif;
}

html {
  font-family: --var(--ui-font);
  font-size: 5vw;
  font-weight: 400;
  word-spacing: -0.05em;

  @media (min-width: 320px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }

  @media print {
    font-size: 14px;
  }
}

a {
  color: var(--accent-color);
  text-decoration-skip: ink;
  transition: opacity 250ms ease;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

article {
  font-family: var(--copy-font);
  line-height: 1.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3,
h4,
h5 {
  opacity: 0.8;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
  opacity: 0.67;
}

// Title/subtitle combo
header h1 + h2 {
  opacity: 0.5;
  margin-top: -1.5em;
  font-size: 1.25rem;
}

// Title/subtitle combo
header h2 + h3 {
  opacity: 0.5;
  margin-top: -1.25em;
  font-size: 1.25rem;
}

