<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    <header>
      <a href="{{ site.baseurl }}/">
        <span class="logotype">elementary{% include logotype.svg %}</span>
        blog
      </a>
      <nav>
        <a href="{{ site.baseurl }}/tags/#updates">OS Updates</a>
        <a href="{{ site.baseurl }}/tags/#appcenter">AppCenter</a>
        <a href="{{ site.baseurl }}/tags/#devs">Developers</a>
        <a href="{{ site.baseurl }}/tags/#design">Design</a>
      </nav>
    </header>
    <section>
      {{ content }}

      {% include medium.html %}
    </section>
    {% include scripts.html %}
  </body>
</html>

