---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}

    {% include byline.html author=page.author date=page.date %}
  </header>

  <section>
    {{ content }}
  </section>

  {% capture thanks %}{% include thanks.md %}{% endcapture %}
  {{ thanks | markdownify }}
</article>

{% include license.html %}

<h2 class="up-next">Up Next</h2>

{% if page.next %}
  {% include featured.html post=page.next %}
{% endif %}

{% if page.previous %}
  {% include featured.html post=page.previous %}
{% endif %}

