---
layout: default
---

<article>
  <heading>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}

    {% assign author = site.authors[page.author] %}
    {% if page.author %}
      {% include byline.html name=author.name gravatar=author.gravatar description=author.description %}
    {% endif %}
  </heading>

  <section>
    {{ content }}
  </section>

  {% capture thanks %}{% include thanks.md %}{% endcapture %}
  {{ thanks | markdownify }}
</article>

